.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
}

.experienceTitle {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.workExperienceIcon {
  font-size: 2.12rem;
}

.collapseAllButton {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.jobInfoWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.jobInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.positionWrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.positionTitle {
  font-size: 1.6rem;
  font-weight: 500;
}

.companyNameTitle {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 1.4rem;
  font-weight: 500;
}

.positionSubTitle {
  font-size: 1.4rem;
  font-weight: 500;
}

.date {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dateItem {
  font-weight: 500;
  font-size: 1.3rem;
}

.list {
  padding-top: 0;
  padding-bottom: 0;
}

.textPrimary {
  font-size: 1.1rem;
}

.textSecondary {
  font-size: 1rem;
  padding-left: 8px;
}

.responsibilityList {
  list-style-type: disc;
  padding-left: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

.responsibilityListItems {
  display: list-item;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 4px;
}
